* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */

.header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 50px;
  margin-left: 10px;
  display: inline-flex;
}

.header nav {
  margin-right: 10px;
}

.header a {

}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("../images/missionsBackground.jpg")
}

.banner {
  width:1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

h4 {
  text-align: center;
  font-size: 1em;
}

.stage2 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.bottomtea {
  display: flex;
  justify-content: center;
}

.stage2 img {
  height: 200px;
  width: 300px;
  margin-right: 30px;
}

.stage2 h2 {
  margin-bottom: 15px;
}

.stage2 h4 {
  margin-bottom: 15px;
}

.stage3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url("../images/locationsBackground.jpg");
}

.location {
  width: 300px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  width:100%;
}
