* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.93;
  text-align: center;
}

/* Header */

.header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  position: fixed;
  border-bottom: 1px solid white;
  z-index: 3;
}

.header img {
  height: 50px;
  margin-left: 10px;
  display: inline-flex;
}

.header nav {
  margin-right: 10px;
}

.header a {

}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("../images/missionsBackground.jpg")
}

.banner {
  width:1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

h4 {
  text-align: center;
  font-size: 1em;
}

.stage2 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.bottomtea {
  display: flex;
  justify-content: center;
}

.stage2 img {
  height: 200px;
  width: 300px;
  margin-right: 30px;
}

.stage2 h2 {
  margin-bottom: 15px;
}

.stage2 h4 {
  margin-bottom: 15px;
  margin-top: 10px;
}

.stage3 {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url("../images/locationsBackground.jpg");
  background-size: 1200px 750px;
  margin-top: 40px;
}

.stage3 h2 {
  margin-bottom: 15px;
  background-color: #11ffee00;
  display: flex;
  justify-content: center
}

.stage3 .location {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  background-color: #11ffee00;
}

.left {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  width: 300px;
  height:260px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height:260px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height:260px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  height:200px;
}

.copyright {
  display:flex;
  width: 1180px;
}

.copyright h5 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width:100%;
  position: absolute;
  margin-left: 20px;
}
